@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/images/bg.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.glassPanel {
  padding: 0.3rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  width: 90%;
  height: 75vh;
}

.glassButton {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
}

.glassButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
